header {
  --main: #c40b24;
  --main-shadow: #4f070f;

  background: 
  linear-gradient(-45deg, 
  var(--main) 40%,
  #c92638 10%,
  #db5f6b 100% );

  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 23px;
    left: 50%;
    top: calc(100% - 130px);
    transform: translate(-50%, -100%);
    background-color: var(--main-shadow);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  &::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 140px;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    background-color: var(--main-shadow);
    border-top-left-radius: 142.5px;
    border-top-right-radius: 142.5px;
    box-sizing: border-box;
    border-bottom: 0;
  }

  & .center {
    position: absolute;
    width: 260px;
    height: 130px;
    border-top-left-radius: 130px;
    border-top-right-radius: 130px;
    top: 100%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -120px);

    &::before {
      content: "";
      position: absolute;
      width: 240px;
      height: 120px;
      border-top-left-radius: 120px;
      border-top-right-radius: 120px;
      top: 100%;
      left: 50%;
      background: linear-gradient(
        -45deg,
        #2f2b2a 40%,
        #474242 10%,
        #959391 100%
      );
      transform: translate(-50%, -120px);
    }
  }

  & .stripes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom: 8px solid white;
    z-index: 1;

    & .stripe {
      position: relative;
      width: calc(50% - 130px);
      height: 100%;
      border-bottom: 10px solid var(--main-shadow);

      &::before {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        width: 100px;
        height: 100px;
      }

      &::after {
        content: "";
        position: absolute;
        border-radius: 50%;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);
        width: 240px;
        height: 240px;
      }

      &.left::before,
      &.left::after,
      &.right::before,
      &.right::after {
        box-shadow: 0 0 0 10px var(--main-shadow);
      }

      &.right {
        float: right;
        transform: rotateY(180deg) translateY(-100%);
      }
    }
  }
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 10px solid white;
  border-radius: 50%;
  background-color: white;
  z-index: 1;
}
