.pokemons-list {
  margin: 0 auto;
  width: 1300px;
  max-width: 85%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  column-gap: 5%;
  row-gap: 40px;
}

.pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10%;
  font-family: 'Righteous', cursive;
  color: white;

  & figure {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;

    &::before {

      filter: saturate(1);
      opacity: 1;
      content: '';
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      mask: url(./../../assets/img/poke_background.svg) no-repeat center;
    }

    & img {
      object-fit: contain;
      image-rendering: pixelated;
      width: 100%;
      height: 100%;
      filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
    }
  }

  & h1 {
    margin-top: 20px;
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 500;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 1.5rem "Righteous", cursive;
  color: white;
  padding: 25px 0;

  & p {
    margin: 0 15px;
  }

  & button {
    font: 2rem "Righteous", cursive;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;

    &.disabled {
      cursor: default;
      opacity: .3;
    }
  }
}
