<div *ngIf="pokemons" class="pokemons-list">
  <section
    (click)="showDetails(pokemon)"
    *ngFor="let pokemon of pokemons"
    [class]="'pokemon ' + pokemon.types[0].type.name"
  >
    <figure>
      <img
        [src]="
          pokemon.sprites.versions['generation-v']['black-white'].animated
            .front_default
        "
        [alt]="pokemon.name"
      />
    </figure>

    <aside>
      <h1>{{ pokemon.name }}</h1>
    </aside>
  </section>
</div>

<section class="details">
  <app-details [item]="details"></app-details>
</section>

<section class="pagination">
  <button [class]="page === 0 ? 'disabled' : ''" (click)="previous()"><</button>

  <p>Page {{ page + 1 }}</p>

  <button (click)="next()">></button>
</section>
