.pokemons-list {
  margin: 0 auto;
  width: 1300px;
  max-width: 85%;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5%;
}

.pokemon {
  background-color: rgb(63, 63, 63);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 10%;
  font-family: 'Righteous', cursive;
  color: white;

  & figure {
    width: 100%;
    position: relative;
    z-index: 1;

    & img {
      width: 100%;
    }
  }

  & h1 {
    margin-top: 20px;
    font-size: 1.8rem;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-weight: 500;
  }
}
