.normal figure::before {
  background-color: var(--normal);
}
.fire figure::before {
  background-color: var(--fire);
}
.water figure::before {
  background-color: var(--water);
}
.electric figure::before {
  background-color: var(--electric);
}
.grass figure::before {
  background-color: var(--grass);
}
.ice figure::before {
  background-color: var(--ice);
}
.fighting figure::before {
  background-color: var(--fighting);
}
.poison figure::before {
  background-color: var(--poison);
}
.ground figure::before {
  background-color: var(--ground);
}
.flying figure::before {
  background-color: var(--flying);
}
.psychic figure::before {
  background-color: var(--psychic);
}
.bug figure::before {
  background-color: var(--bug);
}
.rock figure::before {
  background-color: var(--rock);
}
.ghost figure::before {
  background-color: var(--ghost);
}
.dragon figure::before {
  background-color: var(--dragon);
}
.dark figure::before {
  background-color: var(--dark);
}
.steel figure::before {
  background-color: var(--steel);
}
.fairy figure::before {
  background-color: var(--fairy);
}
