footer {
  background: linear-gradient(
    135deg,
    var(--main) 60%,
    #c92638 10%,
    #db5f6b 100%
  );
  rotate: 180deg;

  & .center::before{
      background: linear-gradient(
        135deg,
        #2f2b2a 60%,
        #474242 10%,
        #959391 100%
      );
    }
  }

    
.inner-circle {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -200px);
  width: 110px;
  height: 61px;
  display: flex;
  justify-content: center;

  & span {
    border: 6px solid black;
    border-bottom-left-radius: 61px;
    border-bottom-right-radius: 61px;
    border-top: 0;
    width: 100%;
    background-color: rgb(255, 255, 255);
  }
}

