footer {
  background: linear-gradient(
    135deg,
    var(--main) 60%,
    #c92638 10%,
    #db5f6b 100%
  );
  rotate: 0deg;

  & .center::before{
      background: linear-gradient(
        135deg,
        #2f2b2a 60%,
        #474242 10%,
        #959391 100%
      );
    }
  }

