@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon");

:root {
  --normal: rgb(168, 167, 122, .4);
  --fire: rgb(238, 129, 48, .4);
  --water: rgb(99, 144, 240, .4);
  --electric: rgb(247, 208, 44, .4);
  --grass: rgb(122, 199, 76, .4);
  --ice: rgb(150, 217, 214, .4);
  --fighting: rgb(194, 46, 40, .4);
  --poison: rgb(163, 62, 161, .4);
  --ground: rgb(226, 191, 101, .4);
  --flying: rgb(169, 143, 243, .4);
  --psychic: rgb(249, 85, 135, .4);
  --bug: rgb(166, 185, 26, .4);
  --rock: rgb(182, 161, 54, .4);
  --ghost: rgb(115, 87, 151, .4);
  --dragon: rgb(111, 53, 252, .4);
  --dark: rgb(112, 87, 70, .4);
  --steel: rgb(183, 183, 206, .4);
  --fairy: rgb(214, 133, 173, .4);

  --HP: #ff0000;
  --ATK: #f08030;
  --DEF: #f8d030;
  --SATK: #6890f0;
  --SDEF: #78c850;
  --SPD: #f85888;

  --background: white;
}

.HP {
  background-color: var(--HP);
}
.ATK {
  background-color: var(--ATK);
}
.DEF {
  background-color: var(--DEF);
}
.SATK {
  background-color: var(--SATK);
}
.SDEF {
  background-color: var(--SDEF);
}
.SPD {
  background-color: var(--SPD);
}

.normal.type,
.pokemon.normal,
.normal figure::before{
  background-color: var(--normal);
}
.fire.type,
.pokemon.fire,
.fire figure::before{
  background-color: var(--fire);
}
.water.type,
.pokemon.water,
.water figure::before{
  background-color: var(--water);
}
.electric.type,
.pokemon.electric,
.electric figure::before{
  background-color: var(--electric);
}
.grass.type,
.pokemon.grass,
.grass figure::before{
  background-color: var(--grass);
}
.ice.type,
.pokemon.ice,
.ice figure::before{
  background-color: var(--ice);
}
.fighting.type,
.pokemon.fighting,
.fighting figure::before{
  background-color: var(--fighting);
}
.poison.type,
.pokemon.poison,
.poison figure::before{
  background-color: var(--poison);
}
.ground.type,
.pokemon.ground,
.ground figure::before{
  background-color: var(--ground);
}
.flying.type,
.pokemon.flying,
.flying figure::before{
  background-color: var(--flying);
}
.psychic.type,
.pokemon.psychic,
.psychic figure::before{
  background-color: var(--psychic);
}
.bug.type,
.pokemon.bug,
.bug figure::before{
  background-color: var(--bug);
}
.rock.type,
.pokemon.rock,
.rock figure::before{
  background-color: var(--rock);
}
.ghost.type,
.pokemon.ghost,
.ghost figure::before{
  background-color: var(--ghost);
}
.dragon.type,
.pokemon.dragon,
.dragon figure::before{
  background-color: var(--dragon);
}
.dark.type,
.pokemon.dark,
.dark figure::before{
  background-color: var(--dark);
}
.steel.type,
.pokemon.steel,
.steel figure::before{
  background-color: var(--steel);
}
.fairy.type,
.pokemon.fairy,
.fairy figure::before{
  background-color: var(--fairy);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--background);
}
