<div class="search-container">
  <div class="search-bar">
    <input
      #msearch
      list="pokemon_list"
      placeholder="Search"
      (keyup.enter)="searchPokemon(msearch)"
    />
    <span (click)="searchPokemon(msearch)">&#9906;</span>
  </div>

  <datalist id="pokemon_list">
    <option
      *ngFor="let pokemon of pokemons_list"
      value="{{ pokemon }}"
    ></option>
  </datalist>
</div>

<section *ngIf="details" class="details">
  <app-details [item]="details"></app-details>
</section>
